Django==1.8.3
oauth==1.0.1
oauth2==1.5.211
oauth2client==1.4.12
oauthlib==2.0.0
python-social-auth==0.2.12
requests==2.11.1
requests-oauth2==0.2.0
requests-oauthlib==0.5.0
gunicorn==19.4.5
whitenoise==3.1
dj-database-url==0.4.0
appdirs==1.4.0
packaging==16.8
psycopg2==2.6.2
pyparsing==2.1.10
pytz==2016.10
six==1.10.0
